.login-page-container, .post-form, .add-course-form, .edit-course-form {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
}

.form-btn-container {
    text-align: center;
}

.signup-ref {
    margin-left: 30%;
}

.form-header {
    text-align: center;
}

.page-container {
    margin: 30px;
}

.admin-heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-course-ref {
    margin-left: 20px;
}

.selection-form-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}

.list-group-item {
    margin: 10px;
}

.course-content-container {
    display: flex;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 75px;
}

p {
    font-size: 18px;
}

.course-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 18rem;
}

.delete-course-btn {
    margin-top: 15px;
}

.student-card {
    width: 16rem;
}

.student-card form {
    margin-top: 10px;
}

.admin-teachers-header {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.teacher-grid-container {
    margin-top: 20px;
}

.teacher-card {
    width: 15rem;
    height: 6rem;
}

.language-dropdown {
    margin-right: 10px;
}
.dropdown-container {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: 10px;
}
.teacher-navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.teacher-navbar-buttons-container {
    display: flex;
    align-items: center;
    width: 190px;
    justify-content: space-between;
}
.alert-danger {
    margin-top: 10px;
}
.register-teacher-ref {
    margin-left: 10px;
}
.description-btn {
    width: 100%;
    text-align: center;
}
.table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.table-container {
    min-height: 60%;
}
.add-grade-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20px;
}
.add-grade-btn {
    margin: 10px
}
.display-field {
    width: 50%
}
.display-container {
    width: 200px
}
.enroll-btn-container {
    display: flex;
    justify-content: center;
}
.course-table {
    width: 50%
}
.no-items-msg {
    text-align: center;
}