<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Title</title>
</head>
<body>
<div class="page-container">
    <h2 th:text="#{students}"/>
    <div class="display-container">
        <form method="get">
            <input type="hidden" name="page" value="0"/>
            <div class="form-group">
                <label for="display" th:text="#{records_per_page}"/>
                <input class="form-control display-field" type="number" id="display" name="size" min="1"
                       th:value="${param.get('size') != null ? param.get('size') : size}"/>
            </div>
            <div class="form-group">
                <input type="submit" th:value="#{display}" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div th:if="${!students.isEmpty()}" class="table-container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col" th:text="#{user.full_name}"/>
                <th scope="col" th:text="#{user.username}"/>
                <th scope="col" th:text="#{user.email}"/>
                <th scope="col" th:text="#{student.status}"/>
                <th th:text="#{student.action}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${students}">
                <td th:text="${student.fullName}"/>
                <td th:text="${student.username}"/>
                <td th:text="${student.email}"/>
                <td>
                    <p th:if="${student.blocked}" th:text="#{student.blocked}"/>
                    <p th:if="${!student.blocked}"th:text="#{student.active}"/>
                </td>
                <td>
                    <form th:action="@{/students/changeBlock/{id}(id=${student.id})}"
                          th:method="POST">
                        <input th:if="${student.blocked}" type="submit" class="btn btn-secondary btn-sm"
                               th:value="#{students.unlock}">
                        <input th:if="${!student.blocked}" type="submit" class="btn btn-dark btn-sm"
                               th:value="#{students.block}">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li th:class="${'page-item' + (page >= 1 ? '' : ' disabled')}">
                <a class="page-link" th:href="@{/students(page=${page - 1}, size=${param.get('size') != null ? param.get('size') : size})}" th:text="#{previous}"/>
            </li>
            <li th:if="${page >= 1}" class="page-item"><a class="page-link"
                                                          th:href="@{/students(page=${page - 1}, size=${param.get('size') != null ? param.get('size') : size})}"
                                                          th:text="${page}"/></li>
            <li class="page-item"><a class="page-link"
                                     th:href="@{/students(page=${page}, size=${param.get('size') != null ? param.get('size') : size})}"
                                     th:text="${page + 1}"/></li>
            <li th:if="${page < pages - 1}" class="page-item"><a class="page-link"
                                                             th:href="@{/students(page=${page + 1}, size=${param.get('size') != null ? param.get('size') : size})}"
                                                             th:text="${page + 2}"/></li>
            <li th:class="${'page-item' + (page < pages - 1 ? '' : ' disabled')}">
                <a class="page-link" th:href="@{/students(page=${page + 1}, size=${param.get('size') != null ? param.get('size') : size})}" th:text="#{next}"/>
            </li>
        </ul>
    </nav>
    <h5 th:if="${students.isEmpty()}" class="no-items-msg" th:text="#{no_students}"/>
</div>
</body>
</html>