<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Sign up</title>
</head>
<body>
<div class="post-form">
    <h1 class="form-header" th:text="#{title.signup}"></h1>
    <form th:method="POST" th:action="@{/auth/signup}" th:object="${student}">
        <div class="form-group">
            <label for="fname" th:text="#{user.first_name}"></label>
            <input type="text" id="fname" th:field="*{firstName}" class="form-control" th:placeholder="#{user.first_name}" required>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</div>
        </div>
        <div class="form-group">
            <label for="lname" th:text="#{user.last_name}"></label>
            <input type="text" id="lname" th:field="*{lastName}" class="form-control" th:placeholder="#{user.last_name}" required>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
        </div>
        <div class="form-group">
            <label for="username" th:text="#{user.username}"></label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required th:placeholder="#{user.username}">
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
        </div>
        <div class="form-group">
            <label for="email" th:text="#{user.email}"></label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required th:placeholder="#{user.email}">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
        </div>
        <div class="form-group">
            <label for="password" th:text="#{user.password}"></label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required th:placeholder="#{user.password}">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        </div>
        <div class="form-btn-container">
            <button type="submit" class="btn btn-primary" th:text="#{user.signup}"></button>
        </div>
    </form>
</div>
</body>
</html>