<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Title</title>
</head>
<body>
<div class="page-container">
    <div class="admin-teachers-header">
        <h2>Teachers</h2>
        <a th:href="@{/teachers/register}" class="register-teacher-ref">Register teacher</a>
    </div>
    <div class="display-container">
        <form method="get">
            <input type="hidden" name="page" value="0"/>
            <div class="form-group">
                <label for="display">Records per page</label>
                <input class="form-control display-field" type="number" id="display" name="size" min="1"
                       th:value="${param.get('size') != null ? param.get('size') : size}"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Display" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div th:if="${!teachers.isEmpty()}" class="table-container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher: ${teachers}">
                <td th:text="${teacher.fullName}"/>
                <td th:text="${teacher.username}"/>
                <td th:text="${teacher.email}"/>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li th:class="${'page-item' + (page >= 1 ? '' : ' disabled')}">
                <a class="page-link" th:href="@{/students(page=${page - 1}, size=${param.get('size') != null ? param.get('size') : size})}">Previous</a>
            </li>
            <li th:if="${page >= 1}" class="page-item"><a class="page-link"
                                                          th:href="@{/students(page=${page - 1}, size=${param.get('size') != null ? param.get('size') : size})}"
                                                          th:text="${page}"/></li>
            <li class="page-item"><a class="page-link"
                                     th:href="@{/students(page=${page}, size=${param.get('size') != null ? param.get('size') : size})}"
                                     th:text="${page + 1}"/></li>
            <li th:if="${page < pages - 1}" class="page-item"><a class="page-link"
                                                                 th:href="@{/students(page=${page + 1}, size=${param.get('size') != null ? param.get('size') : size})}"
                                                                 th:text="${page + 2}"/></li>
            <li th:class="${'page-item' + (page < pages - 1 ? '' : ' disabled')}"><a class="page-link"
                                                                                     th:href="@{/students(page=${page + 1}, size=${param.get('size') != null ? param.get('size') : size})}">Next</a>
            </li>
        </ul>
    </nav>
    <h5 th:if="${teachers.isEmpty()}" class="no-items-msg">There are no teachers</h5>
</div>
</body>
</html>