<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Title</title>
</head>
<body>
<div class="page-container">
    <div th:each="course: ${courses}">
        <h2 th:text="'Course: ' + ${course.name}"/>
        <p th:text="'Start date: ' + ${course.startDate}"/>
        <p th:text="'End date: ' + ${course.endDate}"/>
        <div class="table-container">
            <table th:if="${!course.journalList.isEmpty()}" class="table table-bordered course-table">
                <thead>
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Grade</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="journal: ${course.journalList}">
                    <td th:text="${journal.student}"/>
                    <td>
                        <div th:if="${journal.grade == -1}">
                            <p th:if="${course.endDate.after(currDate)}">Course has not finished yet</p>
                            <form th:if="${course.endDate.before(currDate)}" th:method="POST"
                                  th:action="@{/teachers/addGrade/{id}(id=${journal.id})}">
                                <div class="add-grade-input-container">
                                    <input type="number" min="0" max="100" name="grade" id="grade"/>
                                    <input type="submit" class="btn btn-primary btn-sm add-grade-btn"
                                           value="Add grade">
                                </div>
                            </form>
                        </div>
                        <p th:if="${journal.grade != -1}" th:text="${journal.grade}">
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:class="${'page-item' + (page >= 1 ? '' : ' disabled')}">
                        <a class="page-link" th:href="@{/teachers/{id}(id=${course.teacherId}, page=${page - 1})}">Previous</a>
                    </li>
                    <li th:if="${page >= 1}" class="page-item"><a class="page-link"
                                                                  th:href="@{/teachers/{id}(id=${course.teacherId}, page=${page - 1})}"
                                                                  th:text="${page}"/></li>
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/teachers/{id}(id=${course.teacherId})(page=${page})}"
                                             th:text="${page + 1}"/></li>
                    <li th:if="${page < pages - 1}" class="page-item"><a class="page-link"
                                                                         th:href="@{/teachers/{id}(id=${course.teacherId}, page=${page + 1})}"
                                                                         th:text="${page + 2}"/></li>
                    <li th:class="${'page-item' + (page < pages - 1 ? '' : ' disabled')}"><a class="page-link"
                                                                                             th:href="@{/teachers/{id}(id=${course.teacherId}, page=${page + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
            <h5 th:if="${journals.isEmpty()}" class="no-items-msg">There are no students</h5>
        </div>
    </div>
    <h3 th:if="${courses.isEmpty()}" class="no-items-msg">
        No courses
    </h3>
</div>
</body>
</html>