<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Title</title>
</head>
<body>
<h1>Add course</h1>
<form th:method="POST" th:action="@{/courses/add}" th:object="${course}">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}" required placeholder="Enter name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" th:field="*{description}" rows="3"
                  placeholder="Description"/>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>
    </div>
    <div class="form-group">
        <label for="startDate">Start date</label>
        <input type="date" class="form-control" id="startDate" th:field="*{startDate}"/>
        <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Start date error</div>
    </div>
    <div class="form-group">
        <label for="endDate">End date</label>
        <input type="date" class="form-control" id="endDate" th:field="*{endDate}"/>
        <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">End date error</div>
    </div>
    <div class="form-group">
        <label for="topicSelect">Topic</label>
        <select class="form-control" id="topicSelect" name="topicId">
            <option th:each="topic: ${topics}" th:value="${topic.id}"
                    th:text="${topic.name}"/>
        </select>
    </div>
    <label for="teacherSelect">Teacher</label>
    <select class="form-control" id="teacherSelect" name="teacherId">
        <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                th:text="${teacher.fullName}"/>
    </select>
    <div class="form-btn-container">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
</body>
</html>