<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Courses</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/logout}" class="btn btn-primary" style="margin-left: 85%">
    <input type="submit" th:value="#{logout}"/>
</form>
<div class="page-container">
    <div class="admin-heading-container">
        <h2 th:text="#{courses}"></h2>
        <a th:href="@{/courses/add}" class="add-course-ref" th:text="#{add_course}"></a>
    </div>
    <div class="selection-form-container" th:fragment="selection">
        <form th:method="GET">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="sort" th:text="#{sort.sort_by}"></label>
                    <select class="form-control" name="sort" id="sort">
                        <option selected value="NONE" th:text="#{sort.none}"></option>
                        <option value="NAME" th:selected="${param.get('sort') == 'NAME'}" th:text="#{sort.name}"/>
                        <option value="NAME_DESC" th:selected="${param.get('sort') == 'NAME_DESC'}" th:text="#{sort.name_desc}"/>
                        <option value="DURATION" th:selected="${param.get('sort') == 'DURATION'}" th:text="#{sort.duration}"/>
                        <option value="DURATION_DESC" th:selected="${param.get('sort') == 'DURATION_DESC'}" th:text="#{sort.duration_desc}"/>
                        <option value="STUDENTS_COUNT" th:selected="${param.get('sort') == 'STUDENTS_COUNT'}" th:text="#{sort.students_desc}"/>
                        <option value="STUDENTS_COUNT_DESC" th:selected="${param.get('sort') == 'STUDENTS_COUNT_DESC'}" th:text="#{sort.students}"/>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="teacher" th:text="#{teacher}"/>
                    <select class="form-control" name="teacher" id="teacher">
                        <option selected th:text="#{teacher.any}"/>
                        <option th:each="teacher: ${teachers}" th:text="${teacher.fullName}"
                                th:value="${teacher.username}"></option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="topic" th:text="#{topic}"/>
                    <select class="form-control" name="topic" id="topic">
                        <option selected th:text="#{topic.any}"/>
                        <option th:each="topic: ${topics}" th:text="${topic.name}" th:value="${topic.name}"></option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{selection.apply}"/>
        </form>
    </div>
    <h5 th:if="${courses.isEmpty()}" th:text="#{no_courses}"/>
    <ul class="list-group">
        <div class="grid-container">
            <div th:each="course: ${courses}" class="card">
                <div class="card-body">
                    <h3 class="card-title" th:text="${course.name}"/>
                    <p th:text="#{teacher} + ': ' + ${course.teacher}"/>
                    <p th:text="#{topic} + ': ' + ${course.topic}"/>
                    <p th:text="#{course.start_date} + ': ' + ${course.startDate}"/>
                    <p th:text="#{course.end_date} + ': ' + ${course.endDate}"/>
                    <p th:text="#{course.students_count} + ': ' + ${course.studentsCount}"/>
                    <button type="button" class="btn btn-link description-btn" data-toggle="modal"
                            th:attr="data-target=${'#descModal' + course.id}" th:text="#{course.description}">
                    </button>
                    <div class="modal fade" th:attr="id=${'descModal' + course.id}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" th:text="${course.name}"/>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" th:text="${course.description}"/>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-btn-container">
                        <a th:href="@{/courses/{id}(id=${course.id})}" class="btn btn-light" th:text="#{course.edit}"/>
                        <form th:action="@{/courses/delete/{id}(id=${course.id})}" th:method="POST">
                            <input type="submit" class="btn btn-danger delete-course-btn" th:value="#{course.delete}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>