<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Title</title>
</head>
<body>
<div class="page-container">
    <h2 th:text="#{student.registered_courses}"/>
    <ul th:if="${!registeredCourses.isEmpty()}" class="list-group">
        <div class="grid-container">
            <div th:each="course: ${registeredCourses}" class="card">
                <div class="card-body">
                    <h3 class="card-title" th:text="${course.name}"/>
                    <p th:text="#{teacher} + ': ' + ${course.teacher}"/>
                    <p th:text="#{topic} + ': ' + ${course.topic}"/>
                    <p th:text="#{course.start_date} + ': ' + ${course.startDate}"/>
                    <p th:text="#{course.end_date} + ': ' + ${course.endDate}"/>
                    <p th:text="#{course.students_count} + ': ' + ${course.studentsCount}"/>
                    <button type="button" class="btn btn-link description-btn" data-toggle="modal"
                            data-target="#descModal/${course.id}" th:text="#{course.description}"/>
                    <div class="modal fade" id="descModal/${course.id}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle" th:text="${course.name}"/>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" th:text="${course.description}"/>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
    <h5 th:if="${registeredCourses.isEmpty()}" class="no-items-msg" th:text="#{student.no_registered_courses}"/>
</div>
</body>
</html>